@import '@/styles/utils/mixins';

.tabs {
  display: flex;
  flex-direction: column;
  gap: 4rem;

  @include onMediumDesktop {
    flex-direction: row;
    align-items: center;
    gap: 8rem;
  }
}

.tabsTop {
  @include onMediumDesktop {
    max-width: 550px;
  }
}

.tabsSubHeading {
  margin-top: .8rem;
  margin-bottom: 3.2rem;
}

.tabsBtns {
  display: none;
  flex-direction: column;

  @include onTablet {
    display: flex;
  }
}

.tabsContent {
  display: none;

  @include onTablet {
    display: block;
  }
}

.tabsBtn {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  border-radius: 24px;
  color: var(--black);
  cursor: pointer;
  transition: all 250ms;

  @include onTablet {
    padding: 2.4rem;
  }
}

.tabsImg {
  margin-block: 2.4rem;
  width: 100%;
  height: auto;
}

.tabsBtn:hover {

  @include onTablet {
    background-color: var(--primary);
    color: var(--white);
  }
}

.tabsBtn .tabsBtnIconWhite,
.tabsBtn {
  transition: all 250ms;
}

.tabsBtn .tabsBtnIconWhite {
  opacity: 0;
}

.tabsBtn:hover .tabsBtnIconWhite {
  opacity: 1;
}

.tabsBtnInfo {
  & h3 {
    font-family: var(--font-gilroy);
    font-size: 2rem;
    font-weight: 600;
    line-height: 150%;
  }

  & p {
    font-size: 1.6rem;
    line-height: 150%;
  }
}

.tabsBtnIconWrapper {
  position: relative;
}

.tabsBtnIconWhite {
  position: absolute;
  inset: 0;
}

.active {
  background-color: var(--primary);
  color: var(--white);
}

.tabsImage {
  width: 100%;
  height: auto;
}

.sliderMob {
  @include onTablet {
    display: none;
  }
}