@import '@/styles/utils/mixins';

.hero {
  padding-top: 14.2rem;

  @include onTablet {
    padding-top: 16.2rem;
  }

  @include onLargeDesktop {
    padding-top: 18rem;
  }
}

.heroCards {
  display: grid;
  gap: 1.6rem;

  @include onLaptop {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.heroCard {
  padding: 1.6em;
  border-radius: 24px;
  border: 1px solid #D6E9FF;

  @include onTablet {
    padding: 2.4rem;
  }
}

.heroCardIconWrapper {
  margin-bottom: 1.2rem;
}
