@import '@/styles/utils/mixins';

.heroCards {
  display: grid;
  gap: 1.6rem;
  padding: 1.6rem;
  background-color: var(--primary-dark-blue);
  border-radius: 24px;

  @include onTablet {
    padding: 2.4rem;
  }

  @include onLaptop {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.heroCard {
  padding: 1.6em;
  border-radius: 24px;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.10) 0%, rgba(255, 255, 255, 0.10) 100%);
}

.heroCardIconWrapper {
  margin-bottom: 1.2rem;
}
