@import '@/styles/utils/mixins';

.solutionsHero {
  padding-top: 12.2rem;
  padding-bottom: 4rem;

  @include onTablet {
    padding-top: 14.2rem;
    padding-bottom: 6rem;
  }

  @include onLaptop {
    padding-top: 16.2rem;
  }

  @include onLargeDesktop {
    padding-top: 18rem;
    padding-bottom: 8rem;
  }
}

.solutionsHeroTop {
  @include onLargeDesktop {
    display: grid;
    align-items: center;
    grid-template-columns: 588px 1fr;
    gap: 6rem;
    margin-bottom: 6rem;
  }
}

.solutionsHeroHeading {
  margin-bottom: .8rem;
  color: var(--white);
  text-align: center;
  font-family: var(--font-gilroy);
  font-size: 4.8rem;
  font-weight: 600;
  line-height: 120%;

  @include onTablet {
    font-size: 5.2rem;
  }

  @include onLaptop {
    font-size: 5.4rem;
  }

  @include onLargeDesktop {
    font-size: 6.6rem;
    text-align: left;
  }
}

.solutionsHeroHeading span {
  font-size: 2.8rem;
  vertical-align: super;
}

.solutionsHeroSubheading {
  color: var(--white);
  text-align: center;
  font-size: 1.6rem;
  line-height: 150%;

  @include onLargeDesktop {
    text-align: left;
  }
}

.solutionsHeroTiles {
  margin-top: 3.2rem;
  margin-bottom: 6rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.6rem;

  @include onTablet {
    max-width: 632px;
    margin-inline: auto;
    margin-top: 4rem;
  }

  @include onLargeDesktop {
    margin: 0;
    max-width: 100%;
  }
}

.solutionsHeroTileWrapper {
  border-radius: 18px;
  box-shadow: 2.916px 2.916px 29.156px 0px rgba(68, 102, 140, 0.10);
}

.solutionsHeroTileImage {
  width: 100%;
  height: 100%;
}

.solutionsInfo {
  margin-top: 6rem;
  display: flex;
  flex-direction: column;
  gap: 4rem;

  @include onLargeDesktop {
    gap: 6rem;
  }
}

.solutionsInfoBlock {
  display: flex;
  flex-direction: column;
  gap: 4rem;

  @include onLaptop {
    display: grid;
    align-items: start;
    grid-template-columns: 1fr 1fr;
    gap: 6rem;
  }

  @include onMediumDesktop {}
}

.solutionsInfoTextWrapper {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.solutionsInfoBlockGrid {
  display: grid;
  gap: 2.4rem;

  @include onTablet {
    grid-template-columns: 1fr 1fr;
    column-gap: 4.8rem;
    row-gap: 3.2rem;
  }
}

.tcsGrid {
  grid-template-columns: 1fr 1fr;
}

.solutionsInfoBlockGridItem {
  display: flex;
  align-items: center;
  gap: 1.2rem;
  font-size: 1.6rem;
  line-height: 150%;
}

.solutionsInfoBlockGridItem p {
  font-size: 1.4rem;
}

.solutionsInfoBlockGridItem:has(.solutionsInfoBlockGridItemTop) {
  flex-direction: column;
  align-items: flex-start;
  gap: 0.8rem;
}

.solutionsInfoBlockGridItem svg {
  width: 24px;
  min-width: 24px;
}

.solutionsInfoBlocksSeparator {
  height: 1px;
  background: linear-gradient(90deg, rgba(214, 233, 255, 0.00) 0%, #BED9F5 50%, rgba(214, 233, 255, 0.00) 100%);
}

.solutionsInfoBlockGridItemTop {
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-start;
  gap: 1.2rem;

  @include onLargeDesktop {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
  }
}

.isTcs {
  flex-direction: column;

  @include onLaptop {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

.withIcon {
  flex-direction: row;
  align-items: center;
  gap: 1.2rem;

  @include onLargeDesktop {
    justify-content: flex-start;
  }
}

.solutionsInfoBlockGridItemTopTagWrapper {
  display: inline-block;
  padding: 6px 12px;
  background-color: var(--white);
  border-radius: 30px;
  box-shadow: 2px 2px 20px 0px rgba(68, 102, 140, 0.07);

  @include onLaptop {
    min-width: 68px;
    display: grid;
    place-items: center;
  }
}

.solutionsInfoBlockGridItemTopTag {
  font-size: 1.4rem;
  line-height: 150%;
  background: linear-gradient(326deg, #2D34FF 0%, #2F0092 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.solutionsBanner {
  margin-bottom: 10rem;

  @include onTablet {
    margin-bottom: 12rem;
  }

  @include onLaptop {
    margin-bottom: 14rem;
  }

  @include onLargeDesktop {
    margin-bottom: 16rem;
  }
}

.solutionsBannerWrapper {
  padding: 4rem 1.6rem;
  border-radius: 24px;
  background: var(--light-blue);

  @include onTablet {
    padding: 6rem 3.2rem;
  }

  @include onLaptop {
    padding: 8rem 4rem;
  }

  @include onLargeDesktop {
    padding: 8rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 6rem;
  }
}

.solutionsBannerImageWrapper {
  display: none;

  @include onLargeDesktop {
    display: block;
  }
}

.solutionsBannerImage {
  width: 100%;
  height: auto;
}

.solutionsBannerHeading {
  font-family: var(--font-gilroy);
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 120%;
  text-align: center;

  @include onTablet {
    font-size: 3.6rem;
  }

  @include onLaptop {
    font-size: 3.8rem;
  }

  @include onLargeDesktop {
    font-size: 4rem;
    text-align: left;
  }
}

.isBlue {
  color: var(--primary)
}

.solutionsBannerText {
  margin-top: 2.4rem;
  text-align: center;
  font-family: var(--font-gilroy);
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 130%;
  opacity: .3;

  @include onLargeDesktop {
    text-align: left;
  }
}

.solutionsBannerText span {
  display: block;
}
