@import '@/styles/utils/mixins';

.hero {
  padding-top: 11.2rem;
  padding-bottom: 4rem;
  position: relative;
  background: linear-gradient(326deg, #242BFF 0%, #2624F0 16.61%, #291EE3 31.45%, #2B17D3 48.08%, #3300A1 78.09%);
  color: var(--white);

  @include onTablet {
    padding-top: 17rem;
  }

  @include onLaptop {
    padding-top: 20rem;
    padding-bottom: 3.2rem;
  }
}

.heroLottie,
.heroBg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 0;
}

.heroLottie {
  display: none;

  @include onLaptop {
    display: block;
  }
}

.heroBg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 0;
  background-image: url('../../../../assets/Homepage/hero-mob-bg.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  @include onTablet {
    background-image: url('../../../../assets/Homepage/hero-tablet-bg.png');
  }

  @include onLaptop {
    background-image: url('../../../../assets/Homepage/hero-desk-bg.svg');
  }
}

.heroMain,
.heroWrapper {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.heroWrapper {
  @include onLaptop {
    gap: 8rem;
  }
}

.heroMain {
  @include onLaptop {
    flex-direction: row;
    gap: 8rem;
  }
}

.heroInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;

  @include onTablet {
    max-width: 500px;
  }

  @include onLaptop {
    align-items: flex-start;
    max-width: 394px;
  }

  @include onMediumDesktop {
    min-width: 612px;
  }
}

.heroText {
  max-width: 477px;
  margin-block-start: 1.6rem;
  margin-block-end: 4rem;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;

  @include onLaptop {
    text-align: left;
  }
}

.heroImage {
  display: block;
  margin-inline: auto;
  width: 100%;
  height: auto;
  object-fit: contain;
  max-width: 422px;

  @include onLaptop {
    max-width: 100%;
  }
}

.heroStats,
.heroStat {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
}

.heroStats {
  position: relative;
  justify-content: center;
  padding-top: 4rem;

  @include onTablet {
    flex-direction: row;
    padding-top: 3.2rem;
  }

  @include onLaptop {}
}

.heroStatsLine {
  background: linear-gradient(90deg, rgba(214, 233, 255, 0.00) 0%, #BED9F5 50%, rgba(214, 233, 255, 0.00) 100%);
  position: absolute;
  width: 100%;
  top: 0;
  height: 1px;
}

.heroStat {
  flex-grow: 1;
  gap: 0;
}

.heroStatNum {
  font-family: var(--font-gilroy);
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 150%;
}

.heroStatText {
  font-size: 1.6rem;
  line-height: 150%;
  text-align: center;
}
